@font-face {
    font-family: "iran-sans-req";
    src: url("../../public/fonts/IRANSansXRegular.ttf");
}
@font-face {
    font-family: "iran-sans-md";
    src: url("../../public/fonts/IRANSansXMedium.ttf");
}
@font-face {
    font-family: "iran-sans-bold";
    src: url("../../public/fonts/IRANSansXBold.ttf");
}